<ipaconsonant>
    <div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
        <input #gb type="search" pInputText style="float:left" placeholder="Global Filter">
        <button type="button" pButton icon="fa-plus" style="float: right" (click)="showDialogToAdd()" label="Add"></button>
    </div>
    <p-dataTable [value]="items" selectionMode="single" [(selection)]="selectedItem" (onRowSelect)="onRowSelect($event)" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[5,10,20]" [responsive]="true" [globalFilter]="gb" resizableColumns="true">
        <header>CRUD for IPAConsonants</header>
        <p-column field="symbol" header="Symbol" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
    </p-dataTable>

    <p-dialog header="Item Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="item">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                    <label for="symbol">Symbol</label>
                </div>
                <div class="ui-grid-col-8">
                    <input pInputText id="symbol" [(ngModel)]="item.Symbol" />
                </div>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete" [hidden]="newItem"></button>
                <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
            </div>
        </footer>
    </p-dialog>
</ipaconsonant>