body {
  padding-top: 50px;
  padding-bottom: 20px; }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
  max-width: 280px; }

/* Carousel */
.carousel-caption {
  z-index: 10 !important; }

.carousel-caption p {
  font-size: 20px;
  line-height: 1.4; }

.bg-inverse .navbar-toggler, .bg-inverse .navbar-toggler:hover, .bg-inverse .navbar-toggler:focus {
  background-color: #333;
  border-color: rgba(255, 255, 255, 0.15); }

.navbar-header:after, .navbar-collapse:before, .nav:before {
  display: table;
  content: " "; }

.navbar-header:after {
  clear: both; }

@media (min-width: 768px) {
  .carousel-caption {
    z-index: 10 !important; }
  .navbar-header {
    float: left; }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important; } }

@media (max-width: 767px) {
  .navbar-nav .nav-item {
    float: none; }
  .navbar-nav .nav-item + .nav-item {
    margin-left: 0; } }

