@model ChineseDictionary.Models.Consonant

@{
    ViewData["Title"] = "Details";
}

<h2 class="m-t-1">Details</h2>

<div>
    <h4>Consonant</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Symbol)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Symbol)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
