@model ChineseDictionary.Models.Consonant

@{
    ViewData["Title"] = "Edit";
}

<h2 class="m-t-1">Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Consonant</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group row">
            <label asp-for="Symbol" class="col-md-2 form-control-label"></label>
            <div class="col-md-10">
                <input asp-for="Symbol" class="form-control" />
                <span asp-validation-for="Symbol" class="text-danger" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-secondary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
